<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
			<add name="AppDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ConsoeApp6.AppDbContext;AttachDbFilename=C:\Users\Роман\source\repos\ConsoleApp6\ConsoleApp6\Smartphone.mdf; integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="SettingName" value="SettingValue" />
	</appSettings>
</configuration>
